.todo_item {
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  max-width: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  & input {
    cursor: pointer;
  }
  & .name {
    font-size: 16px;
    margin-left: 10px;
  }
}

input[type="text"] {
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.todo__tittle {
  font-size: 24px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.FaRegTrashCan {
  margin-left: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    color: red;
    transition: all 0.3s ease;
  }
}
