.todo_item {
  border-radius: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  min-width: 50%;
  margin: 0 auto 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.todo_item label {
  width: 100%;
}
.todo_item label input {
  cursor: pointer;
}
.todo_item label .name {
  font-size: 16px;
  margin-left: 10px;
}
.todo_item label .name_crossed_out {
  text-decoration: line-through;
  color: green;
}

input[type=text] {
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.todo__tittle {
  font-size: 24px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.FaRegTrashCan {
  margin-left: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.FaRegTrashCan:hover {
  color: red;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.by {
  position: absolute;
  bottom: 0;
  left: 10px;
}